:host{
    position: fixed;
    bottom: 0;
    width: 100%;
}
:host.t{
    top:0;
    position: sticky;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    background-color: var(--gray-light-color);
    align-items: center;
    box-sizing: border-box;
    padding: 0px 20px;
    height: 60px;
}
.nav-menu-logo{
    display: flex;
    align-items: center;
}
.nav-menu-icon{
    width: 16px;
    height: 16px;
}
.nav-menu-title{
    font-size: 20px;
    margin-left: 10px;
}
.nav-list{
    display: flex;
    gap:50px;
    color:var(--light-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-list-menu{
    cursor: pointer;
    font-size: 14px;
}