<app-nav-menu class="t"></app-nav-menu>

<div class="container-game">
    <div class="block-game">
        <div class="block-image-county">
            <img src="{{flagsArr[0].img}}" alt="country" class="image-country">
        </div>
        <div class="container-answer">
            @for(country of flagsArr; track flagsArr){
                <label>
                    <input type="radio" name="Country">
                    <strong class="name-country">{{country.name}}</strong>
                </label>
            }
            <!-- <label>
                <input type="radio" name="Country">
                <strong class="name-country">NameCountry</strong>
            </label>
            <label>
                <input type="radio" name="Country">
                <strong class="name-country">NameCountry</strong>
            </label>
            <label>
                <input type="radio" name="Country">
                <strong class="name-country">NameCountry</strong>
            </label>
            <label>
                <input type="radio" name="Country">
                <strong class="name-country">NameCountry</strong>
            </label> -->
        </div>
        <div class="container-button">
            <button class="submitButton">Submit & Next</button>
        </div>
    </div>
</div>