<app-nav-menu class="t"></app-nav-menu>

<div class="container-game">
    <div class="block-game">
        <div class="block-image-county">
            <img src="https://bluemoji.io/cdn-proxy/646218c67da47160c64a84d5/66b3eba284d9bc814570814d_18.png" alt="country" class="image-country">
        </div>
        <div class="container-answer">
            <label>
                <input type="radio" name="Country">
                <strong class="name-country">NameCountry</strong>

            </label>
            <label>
                <input type="radio" name="Country">
                <strong class="name-country">NameCountry</strong>
            </label>
            <label>
                <input type="radio" name="Country">
                <strong class="name-country">NameCountry</strong>
            </label>
            <label>
                <input type="radio" name="Country">
                <strong class="name-country">NameCountry</strong>
            </label>
            <label>
                <input type="radio" name="Country">
                <strong class="name-country">NameCountry</strong>
            </label>
        </div>
        <div class="container-button">
            <button class="submitButton">Submit & Next</button>
        </div>
    </div>
</div>