<div class="start-screen">
    <div class="game-name">
        <img src="assets/svg/flag.svg" alt="" class="game-image">
        <strong class="game-title title">FlagGuesser</strong>
    </div>
    <div class="game-description">
        <strong class="learn-play-title">How to Play</strong>
        <p class="description-how-play">
            Welcome to FlagGuesser! Test your 
            knowledge of flags around the world by 
            guessing the country each flag
            represents. Click 'Start Game' 
            to begin and see how many you can get right!
        </p>
    </div>

    <button class="button-start-game" (click)="startGame()">Start Game</button> 

    <app-nav-menu></app-nav-menu>
</div>