<div class="body-game-over">
    <div class="container-game-over">
        <h2 class="title-game-over">Game Over</h2>
        <h1 class="final-score">
            <span>Final Score: </span>
            <span class="counter-final-score">{{counerFinalScore}}</span>
        </h1>
        <p class="paragraph-game-over">
            Congratulations! You've completed the FlagGuesser game with a 
            high score. Your performance was outstanding in recognizing the 
            flags of various countries.
        </p>
        <div class="block-btn-game-over">
            <button class="play-again" (click)="PlayAgait()">Play Again</button>
            <button class="home-btn" (click)="Home()">Home</button>
        </div>
    </div>
</div>